/*
 - Header
 - Navbar
 - Jumbotron
 - Breadcrumb
 - Reservation
 - Footer
*/
body {
  font-family: "rufina";
  background-color: #233000;
}

/*header start */
.header-contact {
  padding: 20px;
  color: white;

  width: 100%;
  height: 30px;
}
.header-contact p {
  padding-left: 10px;
  font-size: 12px;
  justify-content: right;
}
.header-contact i {
  font-size: 15px;
  margin-right: 10px;
}
/*header end */

/* Navbar start */
.navbar .navbar-nav {
  gap: 50px;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.navbar {
  background-color: #233000dc;
  border-bottom: 1px solid #233000;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #d0c8bd;
}
.navbar .navbar-nav .nav-item .nav-link::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid #d0c8bd;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav .nav-item .nav-link:hover::after {
  transform: scaleX(0.6);
}
.navbar .navbar-brand {
  color: white;
  font-size: 30px;
}
.navbar .navbar-brand span {
  font-size: 35px;
  font-weight: bold;
}
/* Navbar end */

/* jumbotron start */
.jumbotron {
  background-size: 100% 100%;
  background-image: url(/asset/img/bg-contact.png);
  background-repeat: no-repeat;
  height: 600px;
  color: white;
}
.jumbotron hr {
  border-bottom: 2px dotted white;
}
.jumbotron .title {
  padding-top: 100px;
}
.jumbotron .title h1 {
  font-size: 80px;
}
.jumbotron .title p {
  font-size: 20px;
}
.jumbotron .time {
  padding-top: 300px;
}
/* Jumbotron End */

/* Breadcrumb Start */
.breadcrumb {
  padding-top: 30px;
}
.breadcrumb-item a:hover {
  color: #435907;
}
.breadcrumb-item a {
  color: #233000;
  text-decoration: none;
  font-weight: 700;
}
/* Breadcrumb End */

/* contact start */
.contact {
  padding-bottom: 100px;
  background-color: white;
}
.contact img {
  width: 100%;
  max-height: 450px;
}
.contact .contacts {
  padding: 200px 80px;
  font-size: 15px;
  font-weight: 700;
}
.contact span {
  color: #9caa00;
  font-size: 15px;
  font-weight: 700;
}
.contact .address {
  padding: 170px 80px;
  font-size: 15px;
  font-weight: 700;
}
/* contact end */

/* Reservation Start*/
.reservation {
  padding: 100px 50px;
  text-align: center;
  background-color: #ebf0e4;
}
.reservation input,
.reservation select {
  padding: 10px 20px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0);
}
.reservation option {
  background-color: white;
  border: 1px solid red;
}
.reservation option:hover {
  background-color: #9caa00;
}
.reservation button {
  margin-top: 30px;
  background-color: #5e6600;
  padding: 10px 36px;
  border: 1px solid black;
  border-radius: 1px;
}
.reservation button:hover {
  border: 1px solid black;
  background-color: white;
  color: #5e6600;
}
/* Reservation End*/

/* Footer Start */
.footer {
  margin-top: 100px;
  color: white;
}
.footer h2 {
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 600;
}
.footer .credit {
  color: white;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
}
.footer .social {
  text-align: right;
}
.footer .social a {
  margin: 1rem;

  color: white;
}
.footer form input {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--FFFFFF, #fff);
  border-radius: 1px;
  height: 35px;
  width: 200px;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.footer .btn-subs {
  justify-content: center;
  align-items: center;
  height: 35px;
  border-radius: 1px;
  background: var(--5E6600, #5e6600);
  color: white;
}
.footer hr {
  margin-top: 50px;
  border-bottom: 2px dotted white;
}
.footer .subs p {
  justify-content: right;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}
/* Footer End */
@media only screen and (max-width: 480px) {
  .jumbotron .title h1 {
    font-size: 50px;
  }
  .jumbotron .title p {
    font-size: 10px;
  }
  .jumbotron .time {
    padding-top: 100px;
  }
  .time p{
    font-size: 10px;
  }
  .time{
    display: flex;
  }
}

