body {
  font-family: "rufina";
  background-color: #233000;
}


.header-contact {
  padding: 20px;
  color: white;

  width: 100%;
  height: 30px;
}
.header-contact p {
  padding-left: 10px;
  font-size: 12px;
  justify-content: right;
}
.header-contact i {
  font-size: 15px;
  margin-right: 10px;
}
/* Navbar */
.navbar .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
  margin: 0 0 0 50px;
}
.navbar {
  justify-content: space-between;
  background-color: #233000dc;
  border-bottom: 1px solid #233000;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #d0c8bd;
}
.navbar .navbar-nav .nav-item .nav-link::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid #d0c8bd;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav .nav-item .nav-link:hover::after {
  transform: scaleX(0.6);
}
.navbar .navbar-brand {
  color: white;
  font-size: 30px;
}

.navbar .navbar-brand span {
  font-size: 35px;
  font-weight: bold;
}

/* Jumbotron */
.jumbotron {
  margin-top: 50px;
  color: white;
  margin-bottom: 100px;
}
.jumbotron img {
  width: 100%;
  height: 460px;
}
.jumbotron h1 {
  font-size: 60px;
}
.jumbotron button {
  border-radius: 2px;
  color: #233000;
  width: 150px;
  height: 50px;
}
.jumbotron button:hover {
  background-color: #d0c8bd;
}

.about {
  padding: 50px 0;
  background-color: white;
}
.about h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 120px; /* 111.111% */
}
.about h3 {
  font-size: 34px;
  font-weight: bold;
}
.about p {
  font-size: 16px;
}
.card-row {
  margin-left: 10px;
}

.circle {
  padding: 25px 25px 25px 25px;
 margin-left: 125px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ebf0e4;
}

/* Menu Start */
.menu {
  text-align: center;
  padding: 100px 0;
  background-color: #ebf0e4;
}
.menu h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 120px; /* 111.111% */
}
.menu h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.menu tr td {
  padding-bottom: 20px;
  border: none;
}
.menu img {
  width: 350px;
  height: 350px;
}
.delivery {
  margin-top: 100px;
  text-align: center;
}
.menu .btn-delivery {
  border-radius: 2px;
  width: 150px;
  height: 50px;
  color: white;
  text-decoration: none;
  background-color: #435907;
  text-align: center;
}
.menu .btn-delivery:hover {
  color: #435907;
  background-color: white;
}


/* Menu End */

/* branch start */
.branch {
  background: url(/asset/img/bg-branch.jpg) no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
}
.branch h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 120px; /* 111.111% */
  margin-bottom: 100px;
}
.carousel-inner .carousel-item img {
  text-align: center;
  justify-content: center;
}
.carousel-item img {
  width: 100%;
  height: 350px;
}
.carousel-caption h5 {
  font-size: 45px;
  font-weight: bold;
  text-shadow: 3px 2px 1px black;
}
.carousel-caption p {
  font-weight: bold;
  text-shadow: 1px 2px 1px black;
}
/* footer start */
.footer {
  margin-top: 100px;
  color: white;
}
.footer h2 {
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 600;
}
.footer .credit {
  color: white;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
}
.footer .social {
  text-align: right;
}
.footer .social a {
  margin: 1rem;

  color: white;
}
.footer form input {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--FFFFFF, #fff);
  border-radius: 1px;
  height: 35px;
  width: 200px;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.footer .btn-subs {
  justify-content: center;
  align-items: center;
  height: 35px;
  border-radius: 1px;
  background: var(--5E6600, #5e6600);
  color: white;
}
hr {
  margin-top: 50px;
  border-bottom: 2px dotted white;
}
.footer .subs p {
  justify-content: right;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}
/* footer end */


/* Page About*/
.about-jumbotron{
  background-image: url(/asset/img/bg-about.jpg) no-repeat;
}